# dotenv files
.env
.env.*
!.env.example

# python
.venv/
__pycache__
.ruff_cache
.pytest_cache
.coverage

# django
staticfiles/
db.sqlite3

# drf_spectacular
schema.yml

# IDE
.vscode
.DS_Store
.idea
